<web-app>

<servlet>
<servlet-name>StudentLogin</servlet-name>
<servlet-class>StudentLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>StudentLogin</servlet-name>
<url-pattern>/StudentLogin</url-pattern>
</servlet-mapping>


<servlet-mapping>
<servlet-name>StudentRegistration</servlet-name>
<url-pattern>/StudentRegistration</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>StudentRegistration</servlet-name>
<servlet-class>StudentRegistration</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>StudentHome</servlet-name>
<url-pattern>/StudentHome</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>StudentHome</servlet-name>
<servlet-class>StudentHome</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>ChangePwdFailure</servlet-name>
<url-pattern>/ChangePwdFailure</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>ChangePwdFailure</servlet-name>
<servlet-class>ChangePwdFailure</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>ChangePwdSuccess</servlet-name>
<url-pattern>/ChangePwdSuccess</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>ChangePwdSuccess</servlet-name>
<servlet-class>ChangePwdSuccess</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>StudentProfile</servlet-name>
<url-pattern>/StudentProfile</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>StudentProfile</servlet-name>
<servlet-class>StudentProfile</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>StudentSubjects</servlet-name>
<url-pattern>/StudentSubjects</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>StudentSubjects</servlet-name>
<servlet-class>StudentSubjects</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>StudentResults</servlet-name>
<url-pattern>/StudentResults</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>StudentResults</servlet-name>
<servlet-class>StudentResults</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>ViewStudentResults</servlet-name>
<url-pattern>/ViewStudentResults</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>ViewStudentResults</servlet-name>
<servlet-class>ViewStudentResults</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>StudentExams</servlet-name>
<url-pattern>/StudentExams</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>StudentExams</servlet-name>
<servlet-class>StudentExams</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>StudentStartExam</servlet-name>
<url-pattern>/StudentStartExam</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>StudentStartExam</servlet-name>
<servlet-class>StudentStartExam</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>StudentSubmitExam</servlet-name>
<url-pattern>/StudentSubmitExam</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>StudentSubmitExam</servlet-name>
<servlet-class>StudentSubmitExam</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>StudentChangePwd</servlet-name>
<url-pattern>/StudentChangePwd</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>StudentChangePwd</servlet-name>
<servlet-class>StudentChangePwd</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>StudentChangePwdValidate</servlet-name>
<url-pattern>/StudentChangePwdValidate</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>StudentChangePwdValidate</servlet-name>
<servlet-class>StudentChangePwdValidate</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>FacultyLogin</servlet-name>
<url-pattern>/FacultyLogin</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>FacultyLogin</servlet-name>
<servlet-class>FacultyLogin</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>FacultyRegistration</servlet-name>
<url-pattern>/FacultyRegistration</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>FacultyRegistration</servlet-name>
<servlet-class>FacultyRegistration</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>FacultyHome</servlet-name>
<url-pattern>/FacultyHome</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>FacultyHome</servlet-name>
<servlet-class>FacultyHome</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>FacultyProfile</servlet-name>
<url-pattern>/FacultyProfile</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>FacultyProfile</servlet-name>
<servlet-class>FacultyProfile</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>FacultyAddCourse</servlet-name>
<url-pattern>/FacultyAddCourse</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>FacultyAddCourse</servlet-name>
<servlet-class>FacultyAddCourse</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>FacultyAddCourseDb</servlet-name>
<url-pattern>/FacultyAddCourseDb</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>FacultyAddCourseDb</servlet-name>
<servlet-class>FacultyAddCourseDb</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>FacultyAddQuestion</servlet-name>
<url-pattern>/FacultyAddQuestion</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>FacultyAddQuestion</servlet-name>
<servlet-class>FacultyAddQuestion</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>FacultyAddQuestions</servlet-name>
<url-pattern>/FacultyAddQuestions</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>FacultyAddQuestions</servlet-name>
<servlet-class>FacultyAddQuestions</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>FacultyAddQuestionsDb</servlet-name>
<url-pattern>/FacultyAddQuestionsDb</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>FacultyAddQuestionsDb</servlet-name>
<servlet-class>FacultyAddQuestionsDb</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>FacultyQuestions</servlet-name>
<url-pattern>/FacultyQuestions</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>FacultyQuestions</servlet-name>
<servlet-class>FacultyQuestions</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>FacultyViewCourse</servlet-name>
<url-pattern>/FacultyViewCourse</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>FacultyViewCourse</servlet-name>
<servlet-class>FacultyViewCourse</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>FacultyEditCourse</servlet-name>
<url-pattern>/FacultyEditCourse</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>FacultyEditCourse</servlet-name>
<servlet-class>FacultyEditCourse</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>FacultyEditCourseDb</servlet-name>
<url-pattern>/FacultyEditCourseDb</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>FacultyEditCourseDb</servlet-name>
<servlet-class>FacultyEditCourseDb</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>FacultyDeleteCourse</servlet-name>
<url-pattern>/FacultyDeleteCourse</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>FacultyDeleteCourse</servlet-name>
<servlet-class>FacultyDeleteCourse</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>FacultyViewQuestions</servlet-name>
<url-pattern>/FacultyViewQuestions</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>FacultyViewQuestions</servlet-name>
<servlet-class>FacultyViewQuestions</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>FacultyEditQuestion</servlet-name>
<url-pattern>/FacultyEditQuestion</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>FacultyEditQuestion</servlet-name>
<servlet-class>FacultyEditQuestion</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>FacultyEditQuestionsDb</servlet-name>
<url-pattern>/FacultyEditQuestionsDb</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>FacultyEditQuestionsDb</servlet-name>
<servlet-class>FacultyEditQuestionsDb</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>FacultyDeleteQuestion</servlet-name>
<url-pattern>/FacultyDeleteQuestion</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>FacultyDeleteQuestion</servlet-name>
<servlet-class>FacultyDeleteQuestion</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>FacultyDeleteAllQuestions</servlet-name>
<url-pattern>/FacultyDeleteAllQuestions</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>FacultyDeleteAllQuestions</servlet-name>
<servlet-class>FacultyDeleteAllQuestions</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>FacultyChangePwd</servlet-name>
<url-pattern>/FacultyChangePwd</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>FacultyChangePwd</servlet-name>
<servlet-class>FacultyChangePwd</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>FacultyChangePwdValidate</servlet-name>
<url-pattern>/FacultyChangePwdValidate</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>FacultyChangePwdValidate</servlet-name>
<servlet-class>FacultyChangePwdValidate</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>FacultyUploadExam</servlet-name>
<url-pattern>/FacultyUploadExam</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>FacultyUploadExam</servlet-name>
<servlet-class>FacultyUploadExam</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>FacultyRemoveExam</servlet-name>
<url-pattern>/FacultyRemoveExam</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>FacultyRemoveExam</servlet-name>
<servlet-class>FacultyRemoveExam</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>FacultyUploadExamDb</servlet-name>
<url-pattern>/FacultyUploadExamDb</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>FacultyUploadExamDb</servlet-name>
<servlet-class>FacultyUploadExamDb</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>FacultyRemoveExamDb</servlet-name>
<url-pattern>/FacultyRemoveExamDb</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>FacultyRemoveExamDb</servlet-name>
<servlet-class>FacultyRemoveExamDb</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>Logout</servlet-name>
<url-pattern>/logout</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Logout</servlet-name>
<servlet-class>Logout</servlet-class>
</servlet>

</web-app>